footer{
    background-color:rgba(243, 191, 217, 0.973);
    text-align: center;
    text-transform: capitalize;
    height: 60px;
    margin: 5px;
    padding-top: 15px;
    text-align: center;
    font-weight: bold; 
}